.active{
    @apply text-orange-700
}
 
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pagination a{
    border: 1px solid ;
    padding: 5px 10px;
    display: inline-block;
    margin: 10px;
}
.active-button{
    color: blueviolet;
}